    body {
        margin: 0;
        padding: 0;
        background: url(./image/work_auto_x2.jpg);
        background-size: cover;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
        list-style: none;


    }


    .intro {}

    h1 {


        text-align: center;
        font-size: 40px;
        padding-top: 230px;
        padding-right: 50%;
    }

    ul {
        font-size: 35px;
        display: flex;
        margin-left: 18%;
        list-style: none;
        cursor: pointer;

    }


    li {
        margin: 15px;


    }

    button {
        border-radius: 40px;
        font-size: 190%;
        margin-left: 18%;
        background: transparent;
        cursor: pointer;
        font-weight: bold;

    }

    button:hover {
        background-color: green;
    }


    li:nth-child(1) {

        color: red;
    }


    li:nth-child(2) {

        color: aqua;
    }




    .fa-github {
        transition-duration: 1s;
        transition-property: transform;

    }

    .fa-github:hover {
        color: rgb(0, 0, 0);
        transform: rotate(360deg);
    }

    .fa-envelope {

        transition-duration: 1s;
        transition-property: transform;

    }

    .fa-envelope:hover {
        color: green;
        transform: rotateY(159deg);
    }